{% extends "base.html" %} {# Herdando o html base #}

{% block title %} Novo Produto {% endblock %}

{% block style %}

    <style>
      .btn-center { /* Gambiarra para deixar o botão ocupando 100% de largura do card (Algo estava afetando a estilização dele)% */
        width: 100%;
      }
    </style> 

{% endblock  %}


{% block content %}


<div class="page-subheader">
  <h1 class="mt-4 mb-4 h1" >Cadastro de Produto</h1>
  <a class="btn btn-primary" href="{{ url_for('produto.formListaProduto') }}">Voltar</a>
</div>

<form name="formNewCliente" id="formNewCliente" action="" method="POST">
  <div class="row mb-4">
    <div class="col-2">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="codigo">Código</label>
        <input type="text" id="codigo" class="form-control" readonly/>
      </div>
    </div>
    <div class="col">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="nome">Nome</label>
        <input type="text" id="nome" class="form-control" max-length=100 autofocus required />
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-4">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="valor_unitario">Valor</label>
        <input type="number" id="valor_unitario" name="valor_unitario" class="form-control" required/>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="descricao">Descrição</label>
        <textarea id="descricao" class="form-control" max-length=200 required rows="5"></textarea>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col">
        <div>
          <div class="mb-4 d-flex justify-content-center">
              <img id="selectedImage" src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
              alt="example placeholder" style="width: 300px;" />
          </div>
          <div class="d-flex justify-content-center">
              <div data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-rounded">
                  <label class="form-label text-white m-1" for="customFile1">Escolher Imagem</label>
                  <input type="file" class="form-control d-none" id="customFile1" onchange="displaySelectedImage(event, 'selectedImage')" />
              </div>
          </div>
      </div>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="d-flex justify-content-center btn-center">
    <button name='salvaClienteDB' id='salvaClienteDB' type="Submit" class="btn btn-success mb-2 btn-center me-3">Salvar</button>
    <button type="button" class="btn btn-danger mb-2 btn-center">Cancelar</button>
  </div>
  
</form>

{% endblock %}