{% extends "base.html" %} {# Herdando o html base #}

{% block title %} Novo Cliente {% endblock %}

{% block style %}

    <style>
      .btn-center { /* Gambiarra para deixar o botão ocupando 100% de largura do card (Algo estava afetando a estilização dele)% */
        width: 100%;
      }
    </style> 

{% endblock  %}


{% block content %}


<div class="page-subheader">
  <h1 class="mt-4 mb-4 h1" >Cadastro de Cliente</h1>
  <a class="btn btn-primary" href="{{ url_for('cliente.formListaCliente') }}">Voltar</a>
</div>

<form>
  <div class="row mb-4">
    <div class="col-2">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="codigo">Código</label>
        <input type="text" id="codigo" class="form-control" />
      </div>
    </div>
    <div class="col">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="nome">Nome Cliente</label>
        <input type="text" id="nome" class="form-control" />
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-4">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="cpf">CPF</label>
        <input type="number" id="cpf" class="form-control" />
      </div>
    </div>
    <div class="col-4">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="telefone">Telefone</label>
        <input type="number" id="telefone" class="form-control" />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div class="form-check  mb-4">
        <input
          class="form-check-input "
          type="checkbox"
          id="compra_fiado"
        />
        <label class="form-check-label" for="compra_fiado"> Compra Fiado? </label>
      </div>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-4">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="telefone">Data Fiado</label>
        <input type="date" id="dia_fiado" class="form-control" />
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-4">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="senha">Senha</label>
        <input type="text" id="senha" class="form-control" />
      </div>
    </div>
    <div class="col-4">
      <div data-mdb-input-init class="form-outline">
        <label class="form-label" for="re_senha">Repita a Senha</label>
        <input type="text" id="re_senha" class="form-control" />
      </div>
    </div>
  </div>

  <!-- Action Buttons -->
  <div class="d-flex justify-content-center btn-center">
    <button data-mdb-ripple-init type="button" class="btn btn-success mb-2 btn-center me-3">Salvar</button>
    <button type="button" class="btn btn-danger mb-2 btn-center">Cancelar</button>
  </div>
  
</form>

{% endblock %}