{% extends "base.html" %} {# Herdando o html base #}

{% block title %} Funcionário {% endblock %}

{% block style %}

    <style>
        button {
          border: none;
        }

        .actions {
          display: flex;
        }
    </style> 

{% endblock  %}


{% block content %}

<div class="page-subheader">
    <h1 class="mt-4 mb-4 h1" >Funcionários</h1>
    <a class="btn btn-primary" href="{{ url_for('funcionario.formNovoFuncionario') }}">Novo Funcionário</a>
</div>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">NOME</th>
        <th scope="col">MATRÍCULA</th>
        <th scope="col">CPF</th>
        <th scope="col">TELEFONE</th>
        <th scope="col">GRUPO</th>
        <th scope="col">SENHA</th>
        <th scope="col">AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      {% if result %}
        {% for row in result %}
          <tr>
            <th scope="row">{{row["id_funcionario"]}}</th>
            <td> {{row["nome"]}} </td>
            <td>{{row["matricula"]}}</td>
            <td>{{row["cpf"]}}</td>
            <td>{{row["telefone"]}}</td>
            <td>{{row["grupo"]}}</td>
            <td>{{row["senha"]}}</td>
            <td class="actions" table>
              <form action="{{ url_for('funcionario.formEditFuncionario') }}" method="POST" name="formEdit{{ row['id_funcionario'] }}">
                <input type="hidden" name="id" value="{{ row['id_funcionario'] }}">
                <button class="link-warning link-offset-2 link-underline link-underline-opacity-0 m-1 h5" type="submit" name="formEditFuncionario"><i class="fa-solid fa-pen-to-square"></i></button>
              </form>
              <form action="{{ url_for('funcionario.formEditFuncionario') }}" method="POST" name="formEdit{{ row['id_funcionario'] }}">
                <input type="hidden" name="id" value="{{ row['id_funcionario'] }}">
                <button class="link-danger link-offset-2 link-underline link-underline-opacity-0 m-1 h5" type="submit" name="formEditFuncionario"><i class="fa-solid fa-trash"></i></button>
              </form>
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>

{% endblock %}