{% extends "base.html" %}

{% block title %}Internal Server Error{% endblock %}

{% block content %}
    <section class="py-3 py-md-5 min-vh-100 d-flex justify-content-center align-items-center">
        <div class="container">
        <div class="row">
            <div class="col-12">
            <div class="text-center">
                <h2 class="d-flex justify-content-center align-items-center gap-2 mb-4">
                <span class="display-1 fw-bold">5</span>
                <span class="display-1 fw-bold bsb-flip-h">0</span>
                <span class="display-1 fw-bold bsb-flip-h">0</span>
                </h2>
                <h3 class="h2 mb-2">Oops! Um erro inesperado aconteceu em nossos servidores.</h3>
                <p class="mb-5">Pedimos desculpa pelo ocorrido, tente novamente mais tarde.</p>
                <a class="btn bsb-btn-5xl btn-dark rounded-pill px-5 fs-6 m-0" href="#!" role="button">Voltar para o início</a>
            </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}